{% set show_footer = false %}
{% set show_navbar = false %}

{% extends 'master.twig' %}
{% block title %}Crear historia{% endblock %}
{% block stylesheets %}{% endblock %}
{% block scriptshead %}
{% endblock %}
{% block body %}
  <div class="notification is-radiusless is-primary has-text-centered is-clearfix">
    <a href="{{path_for('showHome')}}">
    <img src="{{asset('img/ingenia2018.svg')}}" class="image is-pulled-left" style="height: 22px;">
    </a>
    <i class="fas fa-star fa-fw"></i>
    Creando una nueva historia
  </div>
  <div class="container is-fluid">
    <form action="{{path_for('postNuevaHistoria', {'gro': group.id})}}" enctype="multipart/form-data" id="form-post" method="POST">
      <div class="section">
        <div class="columns">
          <div class="column is-4 is-offset-4 post-content editor-box">
            <div class="file has-name is-fullwidth">
              <label class="file-label">
                <input accept="image/jpeg" class="file-input" id="file-cover" name="post-cover" type="file" onchange="changeCover()">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Elegí una foto..
                  </span>
                </span>
                <span class="file-name">
                  <span id="filename-cover"></span>
                </span>
              </label>
            </div>
            <br>
            <section class="post-header-image hero is-light" id="header-post-cover">
              <div class="hero-body"></div>
            </section>
            {# <div class="content editor"> #}
              {# <div class="editable"></div> #}
            {# </div> #}
            <div>
            <textarea name="post-cuerpo" class="textarea" rows="3" style="border-left: 0; border-radius:0; font-size:14px; margin-bottom: 12px; margin-top: 12px; padding: 0;"></textarea>
            </div>
            <div class="content has-text-left is-size-7">
              <i class="fas fa-calendar fa-fw"></i>&nbsp;<i>{{"now"|date("m/d/Y")}}</i> - <i> Grupo <b>"{{group.name}}"</b> - Proyecto "{{project.name}}"</i>
              <br>
            </div>
              <button class="button is-primary is-medium is-outlined is-fullwidth" onclick="submitPost()"><i class="fa fa-paper-plane fa-fw"></i>&nbsp;Postear historia</button>

          </div>
        </div>
      </div>
    </form>
  </div>
  <section class="section">
    <div class="container has-text-centered">
      <br>
      <img src="{{asset('img/slogan3-dark.svg')}}" class="image is-hidden-touch" style="height: 50px; margin: 0 auto;">
      <img src="{{asset('img/slogan4-dark.svg')}}" class="image is-hidden-desktop" style="width: 100px; margin: 0 auto;">
      <br>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
  {# <script src="js/medium-editor.js"></script> #}
{% endblock %}