{% set show_footer = true %}
{% set show_navbar = true %}
{# set body_class = '' #}
{% extends 'master.twig' %}
{% block title %}Panel de control{% endblock %}
{% block scriptshead %}
  <script>
    var getUserDataUrl = function () {
      return "{{path_for('getUser', {'usr':subject.id})}}"
  }
  </script>
{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
      <div id="loading" class="notification is-light has-text-centered">
        <span class="icon">
          <i class="fas fa-cog fa-spin"></i>
        </span>
        Cargando . . .
      </div>
      <br>
      <router-view ref="userPanel" id="{{subject.id}}" save-team-url="{{path_for('runCreGro')}}" save-project-url="{{path_for('runCrePro')}}" save-user-profile-url="{{path_for('runUpdUserPro',{'usr': subject.id})}}" save-user-dni-url="{{path_for('runUpdUserDni', {'usr': subject.id})}}" send-invitation-url="{{path_for('runCreGroInv',{'gro': subject.id})}}"></router-view>
    </div>
  </section>
{% endblock %}
{% block javascripts %}{% endblock %}