{# set show_footer = true #}
{# set show_navbar = true #}
{# set body_class = '' #}

{% extends 'master.twig' %}

{% block title %}Complete your profile{% endblock %}

{% block body %}
    <div class="hero is-primary is-bold is-fullheight is-login-window" id="vue">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-6-tablet is-offset-3-tablet is-4-desktop is-offset-4-desktop">
                        <img alt="" class="image login-logo" src="{{asset('img/logo-virtuagora-white.svg')}}">
                        <complete-sign-up form-url="{{path_for('runNewUser')}}" home-url="{{path_for('showHome')}}" login-url="{{path_for('showLogin')}}" activation-key="{{activation_key}}">
                            <div class="box">
                                <span class="icon">
                                    <i class="fas fa-cog fa-spin"></i>
                                </span> Loading . . .
                            </div>
                        </complete-sign-up>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}