{# set show_footer = true }}
{# set show_navbar = true #}
{# set body_class = '' #}

{% extends 'master.twig' %}
{% block scriptshead %}
<script src="https://www.google.com/recaptcha/api.js?hl=es-419&onload=vueRecaptchaApiLoaded&render=explicit" async="async" defer="defer"></script>
{% endblock %}

{% block title %}Login{% endblock %}
{% block body %}
  <div class="hero is-white is-fullheight is-login-window">
    <div class="hero-body has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column is-6-tablet is-offset-3-tablet is-4-desktop is-offset-4-desktop">
            <a href="{{base_url()}}">
              <img src="{{asset('img/ingenia-logo.svg')}}" class="image login-logo" alt="">
            </a>
            {% if error %}
              <div class="notification is-warning">
                Usuario o contraseña invalidos. Vuelva a intentarlo
              </div>
            {% endif %}
            <br>
            <div id="loading" class="notification is-light has-text-centered">
              <span class="icon">
                <i class="fas fa-cog fa-spin"></i>
              </span>
              Cargando . . .
            </div>
<login message="{{subject.type}}" login-url="{{ path_for('runLogin') }}" google-key="{{googleKey}}" fb-login-action="{{path_for('fbCallbackGet')}}" facebook-key="{{facebookKey}}" sign-up-url="{{ path_for('runNewPendingUser') }}" home-url="{{path_for('showHome')}}"></login>
            <br>
            <a href="{{base_url()}}" class="button is-white is-medium is-fullwidth is-300">
              <i class="fas fa-home fa-fw"></i>&nbsp;Volver al inicio</a>
            <br>
            <br>
            <a href="https://virtuagora.org" target="_blank"><img src="{{asset('img/logo-v.svg')}}" class="image is-32x32 is-centered" alt=""></a>
            <br>
            <p class="is-size-7">
              Hecho con
              <i class="fas fa-heart"></i>
              por
              <a href="https://virtuagora.org" target="_blank">Virtuágora</a><br>para Gabinete Joven</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}{% endblock %}