<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="{{base_url()}}">
        <img src="{{asset('img/ingenia-logo5.svg')}}" alt="Ir al inicio" class="image">
      </a>

      <button class="button navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-start"></div>
    <div class="navbar-end">
      {% if subject.id %}
<span class="navbar-item">
      <Avatar :subject="{{subject.extra|json_encode}}"  :to-panel="true" size="32"/>
      </span>
        <a class="navbar-item is-hidden-desktop-only" href="{{path_for('showLogout')}}">
          <span class="icon">
            <i class="fas fa-sign-out-alt fa-lg"></i>
          </span>
        </a>
      {% else %}
        <a class="navbar-item is-hidden-desktop-only" href="{{path_for('showLogin')}}">
          <span class="icon">
            <i class="fas fa-sign-in-alt fa-lg"></i>
          </span>
          &nbsp;Entrar
        </a>
      {% endif %}

    </div>
  </div>
</nav>